/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
    overflow-x: hidden;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}

@font-face {
    font-family: "comic";
    src: url("../fonts/IHATCS__.TTF");
}

html,
body
{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #271300;
    background: #238acb;
}

section{
    display: flex;
    justify-content: center;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1
{
    color: #0E0A07;
    font-family: "comic";
}

h2,
h3
{
    font-family: "comic";
    font-weight: bold;
    font-size: 30px;
    color: #3A1B02;
    align-self: center;
}

a
{
    color: #238acb;
    text-decoration: none;
}

p
{
    font-family: "Arial";
    font-size: 19px;
}

hr
{
    width: 80%;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    overflow: hidden;
    background: rgba(36,56,1,0.7);
    z-index: 9999;
}

.header h2 {
    z-index: 502;
}

.logo
{
    float: left;
     color: black;
    margin-left: 15px;
    z-index: 1001;
}

.header .credits
{
    float: right;
    padding-top: 15px;
}

.nav {
    margin-right: 50px;
}

.nav ul li {
    height: 100%;
    list-style: none;
    display: inline;
    text-decoration: none;
    margin: 10px;
}

.nav ul li a
{
    font-size: 23px;
    font-family: "comic";
    color: #fff;
    text-shadow: 2px 1px #000;
}

.horizon
{
    line-height: 0;
    z-index: 100;
    width: 3000px;
}

.horizon img {

    height: 200px;
    margin-bottom: 420px;
    margin-left: 100px;
}
.middle
{
    z-index: 499;
    width: 6000px;
}

.middle img {

    width: auto;
    height: 1100px;
    border: 0;

}

.front
{

    z-index: 500;
    top: 0px;
    width: 30000px;
}

.front img {

     float: left;
    width: auto;
    height: 100%;
    border: none;
    margin-top: 25px:

}
.front .page
{

   transform: translateY(-50%);
}


.page
{
  display: flex;
    flex-direction: column;
    z-index: 503;

    background: rgba(232,204,130,0.5);
    padding: 10px 30px;
    border: 20px solid transparent;
    border-image: url("../assets/bois1.jpg") 200;
    position: absolute;
}

.page_img{
    position: absolute;
    top: 20%;
    left: 4%;
    width: 2000px;
    height: 600px;
}

.page_img img{
    margin: 1%;
    z-index: 503;
}

.icon {
    position: absolute;
    padding: 10px 30px;
    height: 210px;
    left: 520px;
    z-index: 501;
    top: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon img {
    height: 80px;
}

/*//////////asset nuage////////////*/
.nuage1 {
margin-bottom: 520px;
margin-left: 100px;
}
.nuage2 {
margin-bottom: 620px;
margin-left: 80px;
}
.nuage3 {
margin-bottom: 490px;
margin-left: 50px;
}
.nuage4 {
margin-bottom: 560px;
margin-left: 90px;
}
.nuage5 {
margin-bottom: 650px;
margin-left: 120px;
}
.nuage6 {
margin-bottom: 510px;
margin-left: 70px;
}
.nuage7 {
margin-bottom: 630px;
margin-left: 20px;
}
.nuage8 {
margin-bottom: 490px;
margin-left: 50px;
}
.nuage9 {
margin-bottom: 630px;
margin-left: 110px;
}

/*//////////asset nuage////////////*/
.description
{
    display: flex;
    position: absolute;
    top: 430px;
    width: 670px;
    height: 410px;
    left: 360px;
}

.description .image0{
    position: absolute;
    width: 30%;
    height: 20%;
    top: 4%;
    left: 20%;
}

.description .image0bis{
    position: absolute;
    width: 220px;
    height: 180px;
    bottom: 278px;
    border-radius: 35%;
    left: 417px;
}

.description .image1{
    position: absolute;
    width: 15%;
    height: 25%;
    top: 3%;
}

.description .image2{
    position: absolute;
    width: 20%;
    height: 15%;
    right: 55%;
    bottom: 100px;
}

.description .image3{
    position: absolute;
    width: 254px;
    height: 98px;
    right: 185px;
    bottom: 110px;
}

.description .image4{
    position: absolute;
    width: 170px;
    height: 60px;
    right: 20px;
    bottom: 120px;
}

.page_img .image5{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 1290px;
    bottom: 240px;
}

.page_img .image12{
    width: 360px;
    height: 260px;
    left: 280px;
    bottom: 560px;
    border: 15px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.page_img .image13{
    position: absolute;
    width: 300px;
    height: 350px;
    left: 550px;
    bottom: 180px;
    border: 10px solid;
    border-image: url("../assets/bois1.jpg") 200;
}

.page_img .image14{
    position: absolute;
    width: 250px;
    height: 350px;
    left: 1150px;
    bottom: 290px;
    border: 10px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.page_img .image15{
    position: absolute;
    width: 250px;
    height: 350px;
    left: 930px;
    top: 300px;
    border: 10px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.page_img .image16{
    position: absolute;
    width: 250px;
    height: 350px;
    left: 1525px;
    top: 300px;
    border: 10px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.page_img .image17{
    position: absolute;
    width: 250px;
    height: 350px;
    left: 95%;
    bottom: 40%;
    border: 10px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.documentation2{
    top: 55%;
    left: 3500px;
    height: 540px;
}

.documentation2 .image11{
    width: 50%;
    height: 155px;
}

.documentation
{
    top: 55%;
    left: 4850px;
    width: 800px;
    height: 540px;
}

.documentation p{
    position: absolute;
    bottom: 12%;
    right: 7%;
}

.documentation .image6{
    position: absolute;
    width: 40%;
    height: 45%;
    top: 4%;
    left: 5%;
}

.documentation .image7{
    position: absolute;
    width: 40%;
    height: 45%;
    bottom: 25%;
    left: 5%;
}

.documentation .image8{
    position: absolute;
    width: 40%;
    height: 45%;
    top: 7.5%;
    right: 5%;
}

.documentation .image9{
    position: absolute;
    width: 40%;
    height: 45%;
    bottom: 20%;
    right: 5%;
}

.documentation .image10{
    position: absolute;
    width: 40%;
    height: 45%;
    bottom: 0;
    left: 5%;
}

.page_img2{
    position: absolute;
    top: 20%;
    left: 19.5%;
    width: 1000px;
    height: 600px;
}

.page_img2 img{
    margin: 1%;
    z-index: 503;
}

.page_img2 .image18{
    position: absolute;
    width: 250px;
    height: 350px;
    bottom: 11%;
    border: 10px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.page_img2 .image19{
    position: absolute;
    width: 370px;
    height: 320px;
    bottom: 50%;
    left: 35%;
    border: 10px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.options
{
    top: 55%;
    width: 1000px;
    height: 550px;
    left: 7000px;
}

.sec_options{
    display: flex;
    align-items: flex-start;
}

.sec_options article{
    margin: 1%;
}

.options .organisation h3{
    color: #D71374;
}

.options .reservation h3{
    color: #137BFD;
}

.options2{
    top: 55%;
    width: 1000px;
    height: 550px;
    left: 8100px;
}

.sec_options2{
    width: 1000px;
    height: 550px;
}

.options2 img{
    z-index: 503;
}

.options2 .image20{
    position: absolute;
    bottom: 22%;
    left: 2%;
}

.options2 .image21{
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.options2 .image22{
    position: absolute;
    left: 0;
}

.options2 .image23{
    position: absolute;
    left: 0.3%;
    top: 13%;
}

.options2 .image24{
    position: absolute;
    width: 40%;
    height: 20%;
    left: 3.7%;
    top: 81%;
}

.options2 .image25{
    position: absolute;
    bottom: 28%;
    right: 0;
}

.options2 .image26{
    position: absolute;
    bottom: 0;
    right: 0.5%;
}

.options2 .image27{
    position: absolute;
    left: 55%;
    top: 0.5%;
}

.corde2{
    z-index: 502;
    position: absolute;
    left: 12%;
    width: 10px;
    height: 2000px;
    background-image: url('../assets/corde.jpg');
    background-repeat: repeat;
}

.corde3{
    z-index: 502;
    position: absolute;
    left: 35%;
    width: 10px;
    height: 2000px;
    background-image: url('../assets/corde.jpg');
    background-repeat: repeat;
}

.corde4{
    z-index: 502;
    position: absolute;
    left: 68%;
    width: 10px;
    height: 2000px;
    background-image: url('../assets/corde.jpg');
    background-repeat: repeat;
}

.corde5{
    z-index: 502;
    position: absolute;
    left: 83%;
    width: 10px;
    height: 2000px;
    background-image: url('../assets/corde.jpg');
    background-repeat: repeat;
}

.options2 p{
  z-index: 503;
  position: absolute;
  right: 2%;
  top: 70%;
  width: 40%;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.5);
}

.options2 span{
    color: #4313ED;
    font-weight: bold;
}

.options3{
    top: 55%;
    width: 700px;
    height: 550px;
    left: 9200px;
}

.options3 article{
    position: absolute;
    bottom: 0;
    text-align: center;
}

.options3 .image28{
    position: absolute;
    bottom: 38%;
    left: 16%;
}

.options3 .image29{
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 80%;
}

.options3 span{
    color: #00640D;
    font-family: "comic";
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.page_img3{
    position: absolute;
    top: 20%;
    left: 10100px;
    width: 500px;
    height: 600px;
}

.page_img3 img{
    z-index: 503;
}

.page_img3 .image35{
    position: absolute;
    width: 25%;
    height: 50%;
    right: 85%;
    bottom: 55%;
    border: 10px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.page_img3 .image36{
    position: absolute;
    width: 70%;
    height: 40%;
    right: 8%;
    bottom: 11%;
    border: 10px solid transparent;
    border-image: url("../assets/wood1.png") 200;
}

.groupes{
    top: 55%;
    width: 900px;
    height: 550px;
    left: 10800px;
}

.groupes .formule-ado{
    position: absolute;
    left: 0;
    width: 50%;
    height: 550px;
}

.groupes .formule-ado2{
    position: absolute;
    right: 0;
    width: 50%;
    height: 550px;
}

.groupes .image30{
    position: absolute;
    bottom: 15%;
    left: 24%;
}

.groupes h3{
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
}

.groupes .formule-ado .image31{
    position: absolute;
    left: 0;
}

.groupes .formule-ado .formule-grp1{
    position: absolute;
    top: 50%;
    left: 20%;
}

.groupes .formule-ado .image32{
    position: absolute;
    right: 4.5%;
    top: 12%;

}

.groupes .formule-ado .formule-grp2{
    position: absolute;
    top: 75%;
    left: 20%;
    font-size: 14px;
}

.groupes .formule-ado2 .image33{
    position: absolute;
    height: 52px;
    width: auto;
}

.groupes .formule-ado2 .formule-grp3{
    position: absolute;
    top: 50%;
    right: 4%;
    font-size: 14px;
    width: 75%;
}

.groupes .formule-ado2 .image34{
    position: absolute;
    top: 12%;
    left: 3.5%;
}

.groupes .formule-ado2 .formule-grp4{
    position: absolute;
    top: 75.5%;
    right: 4%;
    font-size: 14px;
    width: 75%;
}

.groupes2{
    top: 55%;
    width: 380px;
    height: 550px;
    left: 11800px;
}

.groupes2 .formule-ado{
    position: absolute;
    left: 0;
    margin-top: -50px;
    width: 380px;
    height: 550px;
}

.groupes2 .image30{
    position: absolute;
    bottom: 30%;
    right: 0%;
}

.groupes2 h3{
    position: absolute;
    top: 16%;
    left: 12%;
    text-align: center;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
}

.groupes2 .formule-ado .image31{
    position: absolute;

}

.groupes2 .formule-ado .formule-grp1{
    position: absolute;
    top: 52%;
    left: 14%;
    font-size: 16px;
}

.groupes2 .formule-ado .image32{
    position: absolute;
    top: 18%;
}

.groupes2 .formule-ado .formule-grp2{
    position: absolute;
    top: 83%;
    left: 13%;
    font-size: 14px;
}

.groupes2 .lgf{
  z-index: 503;
  position: absolute;
  left: 90%;
  top: 55%;
  width: 300px;
  height: 100px;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  border: 10px solid transparent;
  border-image: url("../assets/wood1.png") 200;
}

.groupes2 .lgf span{
    color: #4313ED;
    font-weight: bold;
}

.groupes3{
    top: 55%;
    width: 380px;
    height: 550px;
    left: 12570px;
}

.groupes3 .image30{
    position: absolute;
    bottom: 20%;

}

.groupes3 .image31{
    position: absolute;
    top: 20%;
    width: 380px;
    height: 500px;
}

.groupes4{
    top: 55%;
    width: 600px;
    height: 550px;
    left: 13100px;
}

.groupes4 .image30{
    width: 300px;
    height: 100px;
}

.groupes4 h3{
    text-align: center;
    font-family: "comic";
    font-weight: bold;
    font-size: 18px;
}

.groupes4 .formule-ado .image31{
    width: 300px;
    height: 50px;
}

.download
{
    top: 44%;
    width: 400px;
    height: 400px;
    left: 14000px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit_button{
    font-family: "comic";
}

label{
    font-family: "comic";
}

.masquotte {
    position: fixed;
    top: 240px;
    left: 25px;
    height: 200px;
    z-index: 501;

        -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 40% { -moz-transform: rotate(10deg); } }
@-webkit-keyframes spin { 40% { -webkit-transform: rotate(10deg); } }
@keyframes spin { 40% { -webkit-transform: rotate(10deg); transform:rotate(10deg); } }

.corde {
    position: fixed;
    top: 550px;
    height: 5px;
    width: 9980px;
    z-index: 502;
    background-image: url('../assets/cable.jpg');
    background-size: cover;
/*    border-bottom-left-radius: 1000px 70px;
    border-bottom-right-radius: 1000px 70px;
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -ms-transform:rotate(2deg);*/
}
